<div ng-controller="ExpenseController">

<ion-header-bar class="bar-energized">
    <h1 class="title">Expenses</h1>
    <button class="button button-icon ion-plus" ng-click="addTransaction()">

    </button>
</ion-header-bar>

<ion-content>
    <ion-list>
        <ion-item ng-repeat="expense in Expenses" class="item-text-wrap">
            <h2>{{expense.paid_to}}</h2>
            <span ng-class="(GetCurrentUserID()==expense.user_id)? 'badge badge-balanced': 'badge badge-assertive'">{{expense.amount | currency:'$':0}}</span>
            <p>{{expense.user_name + ' : ' + expense.date}}</p>

        </ion-item>
    </ion-list>
</ion-content>

<script id="new-task.html" type="text/ng-template">

    <div class="modal">

        <ion-header-bar class="bar-secondary">
            <h1 class="title">New Transaction</h1>
            <button class="button button-clear button-positive" ng-click="closeNewTransaction()">Cancel</button>
        </ion-header-bar>

        <ion-content>

            <form ng-submit="saveTransaction(transaction)">
                <div class="list">
                    <label class="item item-input">
                        <input type="date" placeholder="Date" ng-model="transaction.date">
                    </label>
                    <label class="item item-input">
                        <input type="number" placeholder="Amount" ng-model="transaction.amount">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Title" ng-model="transaction.paid_to">
                    </label>
                </div>
                <div class="padding">
                    <button type="submit" class="button button-block button-positive">Save Payment</button>
                </div>
            </form>

        </ion-content>

    </div>

</script>
    </div>